{   
    "openapi": "3.0.3",
    "basePath": "/v1",
    "info": {
        "title": "Template Registry API",
        "version": "0.2.0",
        "license": {
          "name": "Apache-2.0 License",
          "url": "https://github.com/adobe/adp-template-registry-api?tab=Apache-2.0-1-ov-file"
        }
      },
    "servers": [
      {
        "url": "https://adobeioruntime.net/apis/adp-template-registry-service/v1",
        "description": "Production"
      },
      {
        "url": "https://adobeioruntime.net/apis/adp-template-registry-service-stage/v1",
        "description": "Stage"
      }
    ],
    "paths": {
      "/templates": {
        "post": {
          "summary": "Add a template to Template Registry for a further verification.",
          "operationId": "template-registry-api/templates-post.http",
          "tags": [
            "templates"
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the package implementing the template on npmjs.com",
                      "example": "@adobe/app-builder-template",
                      "nullable": false
                    },
                    "description": {
                      "type": "string",
                      "description": "A description of the template",
                      "example": "This is a template for Adobe App Builder"
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "The name of the user who created the template",
                      "example": "Lazarus"
                    },
                    "latestVersion": {
                      "type": "string",
                      "description": "The version of the template in the semver format",
                      "example": "1.0.0"
                    },
                    "links": {
                      "type": "object",
                      "description": "A link to the Github repository containing the package's source code",
                      "additionalProperties": false,
                      "minProperties": 1,
                      "nullable": false,
                      "properties": {
                        "github": {
                          "$ref": "#/components/schemas/GithubUrl"
                        },
                        "consoleProject": {
                          "$ref": "#/components/schemas/DeveloperConsoleUrl"
                        }
                      }
                    }
                  },
                  "example": {
                    "name": "@adobe/app-builder-template",
                    "links": {
                      "github": "https://github.com/adobe/app-builder-template"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Information about a newly added template.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Template",
                    "example": {
                      "id": "56bf8211-d92d-44ef-b98b-6ee89812e1d7",
                      "name": "@adobe/app-builder-template",
                      "status": "InVerification",
                      "links": {
                        "npm": "https://www.npmjs.com/package/@adobe/app-builder-template",
                        "github": "https://github.com/adobe/app-builder-template"
                      },
                      "_links": {
                        "self": {
                          "href": "https://template-registry-api.tbd/apis/v1/templates/@adobe/app-builder-template"
                        },
                        "review": {
                          "href": "https://github.com/adobe/aio-template-submission/issues/<number>",
                          "description": "A link to \"Template Review Request\" Github Issue"
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "405": {
              "$ref": "#/components/responses/HttpMethodNotAllowed"
            },
            "409": {
              "$ref": "#/components/responses/Conflict"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            },
            "503": {
              "$ref": "#/components/responses/ServiceUnavailable"
            },
            "504": {
              "$ref": "#/components/responses/GatewayTimeout"
            }
          },
          "x-openwhisk": {
            "action": "templates-post.http",
            "package": "template-registry-api",
            "url": "not-used"
          }
        },
        "get": {
          "summary": "Return a list of templates matching a specified criteria.",
          "operationId": "template-registry-api/templates-list.http",
          "security": [
            {}, 
            {
              "bearerAuth": []
            }
          ],
          "tags": [
            "templates"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/NamesParam"
            },
            {
              "$ref": "#/components/parameters/CategoriesParam"
            },
            {
              "$ref": "#/components/parameters/ApisParam"
            },
            {
              "$ref": "#/components/parameters/ExtensionsParam"
            },
            {
              "$ref": "#/components/parameters/EventsParam"
            },
            {
              "$ref": "#/components/parameters/RuntimeParam"
            },
            {
              "$ref": "#/components/parameters/StatusesParam"
            },
            {
              "$ref": "#/components/parameters/AdobeRecommendedParam"
            },
            {
              "$ref": "#/components/parameters/SizeParam"
            },
            {
              "$ref": "#/components/parameters/CursorParam"
            },
            {
              "$ref": "#/components/parameters/OrderByParam"
            }
          ],
          "responses": {
            "200": {
              "description": "A list of templates matching a specified criteria.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "required": [
                      "items",
                      "_links"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "items": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Template"
                        }
                      },
                      "_links": {
                        "$ref": "#/components/schemas/Links"
                      }
                    },
                    "example": {
                      "items": [
                        {
                          "id": "f62f3381-592a-41a3-b936-ef953abd0155",
                          "author": "Adobe Inc.",
                          "name": "@adobe/app-builder-template",
                          "description": "AppBuilder template",
                          "adobeRecommended": true,
                          "latestVersion": "1.0.10",
                          "publishDate": "2022-04-22T04:17:28.643Z",
                          "categories": [
                            "graphql-mesh"
                          ],
                          "apis": [
                            {
                              "code": "Runtime"
                            }
                          ],
                          "keywords": [
                            "aio-app-builder-template",
                            "aio"
                          ],
                          "status": "Approved",
                          "links": {
                            "npm": "https://www.npmjs.com/package/@adobe/app-builder-template",
                            "github": "https://github.com/adobe/app-builder-template"
                          },
                          "_links": {
                            "self": {
                              "href": "https://template-registry-api.tbd/apis/v1/templates/@adobe/app-builder-template"
                            }
                          }
                        },
                        {
                          "id": "3e3aee0b-539e-43b1-b47c-0a69eaf39d6c",
                          "name": "@company1/app-builder-template",
                          "status": "InVerification",
                          "links": {
                            "npm": "https://www.npmjs.com/package/@company1/app-builder-template",
                            "github": "https://github.com/company1/app-builder-template"
                          },
                          "_links": {
                            "self": {
                              "href": "https://template-registry-api.tbd/apis/v1/templates/@company1/app-builder-template"
                            },
                            "review": {
                              "href": "https://github.com/adobe/aio-template-submission/issues/<number>",
                              "description": "A link to \"Template Review Request\" Github Issue"
                            }
                          }
                        }
                      ],
                      "_links": {
                        "self": {
                          "href": "https://template-registry-api.tbd/apis/v1/templates?statuses=Approved,InVerification"
                        },
                        "next": {
                          "href": "https://template-registry-api.tbd/apis/v1/templates?statuses=Approved,InVerification&cursor=MTIzNDU2Nzg5MA=="
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "405": {
              "$ref": "#/components/responses/HttpMethodNotAllowed"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            },
            "503": {
              "$ref": "#/components/responses/ServiceUnavailable"
            },
            "504": {
              "$ref": "#/components/responses/GatewayTimeout"
            }
          },
          "x-openwhisk": {
            "action": "templates-list.http",
            "package": "template-registry-api",
            "url": "not-used"
          }
        }
      },
      "/templates/{templateName}": {
        "get": {
          "summary": "Get information about a template.",
          "operationId": "template-registry-api/templates-get.http",
          "security": [],
          "tags": [
            "templates"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/TemplateName"
            }
          ],
          "responses": {
            "200": {
              "description": "Information about a template.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Template",
                    "example": {
                      "id": "4bfdb3ef-b84c-4a74-b9fc-39657ed1aaf8",
                      "author": "Adobe Inc.",
                      "name": "@adobe/app-builder-template",
                      "description": "AppBuilder template",
                      "adobeRecommended": true,
                      "latestVersion": "1.0.10",
                      "publishDate": "2022-04-22T04:21:26.922Z",
                      "categories": [
                        "graphql-mesh"
                      ],
                      "apis": [
                        {
                          "code": "Runtime"
                        }
                      ],
                      "keywords": [
                        "aio-app-builder-template",
                        "aio"
                      ],
                      "status": "Approved",
                      "links": {
                        "npm": "https://www.npmjs.com/package/@adobe/app-builder-template",
                        "github": "https://github.com/adobe/app-builder-template"
                      },
                      "_links": {
                        "self": {
                          "href": "https://template-registry-api.tbd/apis/v1/templates/@adobe/app-builder-template"
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "405": {
              "$ref": "#/components/responses/HttpMethodNotAllowed"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            },
            "503": {
              "$ref": "#/components/responses/ServiceUnavailable"
            },
            "504": {
              "$ref": "#/components/responses/GatewayTimeout"
            }
          },
          "x-openwhisk": {
            "action": "templates-get.http",
            "package": "template-registry-api",
            "url": "not-used"
          }
        },
        "delete": {
          "summary": "Delete a template from Template Registry.",
          "operationId": "template-registry-api/templates-delete.http",
          "tags": [
            "templates"
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/TemplateName"
            }
          ],
          "responses": {
            "200": {
              "description": "A template was deleted from Template Registry."
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "405": {
              "$ref": "#/components/responses/HttpMethodNotAllowed"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            },
            "503": {
              "$ref": "#/components/responses/ServiceUnavailable"
            },
            "504": {
              "$ref": "#/components/responses/GatewayTimeout"
            }
          },
          "x-openwhisk": {
            "action": "templates-delete.http",
            "package": "template-registry-api",
            "url": "not-used"
          }
        }
      },
      "/templates/{orgName}/{templateName}": {
        "get": {
          "summary": "Get information about a template by organization.",
          "operationId": "template-registry-api/templates-get-org-name.http",
          "security": [],
          "tags": [
            "templates"
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/TemplateName"
            },
            {
              "$ref": "#/components/parameters/OrgName"
            }
          ],
          "responses": {
            "200": {
              "description": "Information about a template.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Template",
                    "example": {
                      "id": "4bfdb3ef-b84c-4a74-b9fc-39657ed1aaf8",
                      "author": "Adobe Inc.",
                      "name": "@adobe/app-builder-template",
                      "description": "AppBuilder template",
                      "adobeRecommended": true,
                      "latestVersion": "1.0.10",
                      "publishDate": "2022-04-22T04:21:26.922Z",
                      "categories": [
                        "graphql-mesh"
                      ],
                      "apis": [
                        {
                          "code": "Runtime"
                        }
                      ],
                      "keywords": [
                        "aio-app-builder-template",
                        "aio"
                      ],
                      "status": "Approved",
                      "links": {
                        "npm": "https://www.npmjs.com/package/@adobe/app-builder-template",
                        "github": "https://github.com/adobe/app-builder-template"
                      },
                      "_links": {
                        "self": {
                          "href": "https://template-registry-api.tbd/apis/v1/templates/@adobe/app-builder-template"
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "405": {
              "$ref": "#/components/responses/HttpMethodNotAllowed"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            },
            "503": {
              "$ref": "#/components/responses/ServiceUnavailable"
            },
            "504": {
              "$ref": "#/components/responses/GatewayTimeout"
            }
          },
          "x-openwhisk": {
            "action": "templates-get.http",
            "package": "template-registry-api",
            "url": "not-used"
          }
        },
        "delete": {
          "summary": "Delete a template from Template Registry by organization.",
          "operationId": "template-registry-api/templates-delete-org-name.http",
          "tags": [
            "templates"
          ],
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/TemplateName"
            },
            {
                "$ref": "#/components/parameters/OrgName"
            }
          ],
          "responses": {
            "200": {
              "description": "A template was deleted from Template Registry."
            },
            "400": {
              "$ref": "#/components/responses/BadRequest"
            },
            "401": {
              "$ref": "#/components/responses/Unauthorized"
            },
            "403": {
              "$ref": "#/components/responses/Forbidden"
            },
            "404": {
              "$ref": "#/components/responses/NotFound"
            },
            "405": {
              "$ref": "#/components/responses/HttpMethodNotAllowed"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            },
            "503": {
              "$ref": "#/components/responses/ServiceUnavailable"
            },
            "504": {
              "$ref": "#/components/responses/GatewayTimeout"
            }
          },
          "x-openwhisk": {
            "action": "templates-delete.http",
            "package": "template-registry-api",
            "url": "not-used"
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      },
      "parameters": {
        "TemplateName": {
          "name": "templateName",
          "in": "path",
          "required": true,
          "description": "The name of the template on npmjs.com",
          "schema": {
            "type": "string"
          }
        },
        "OrgName": {
            "name": "orgName",
            "in": "path",
            "required": true,
            "description": "Organisation name on npmjs.com",
            "schema": {
              "type": "string"
            }
          },
        "NamesParam": {
          "name": "names",
          "in": "query",
          "required": false,
          "allowReserved": true,
          "description": "Filter by template names. A comma-delimited list of template names (npm package names).\n",
          "schema": {
            "type": "string"
          },
          "example": "@adobe/app-builder-template,@company1/app-builder-template1"
        },
        "CategoriesParam": {
          "name": "categories",
          "in": "query",
          "required": false,
          "allowReserved": true,
          "description": "Filter by template categories. A comma-delimited list of template categories.\n",
          "schema": {
            "type": "string"
          },
          "example": "action,graphql-mesh"
        },
        "ApisParam": {
          "name": "apis",
          "in": "query",
          "required": false,
          "allowEmptyValue": true,
          "allowReserved": true,
          "description": "Filter by template APIs. A comma-delimited list of template APIs.\n",
          "schema": {
            "type": "string"
          },
          "example": "AnalyticsSDK,Events"
        },
        "ExtensionsParam": {
          "name": "extensions",
          "in": "query",
          "required": false,
          "allowEmptyValue": true,
          "allowReserved": true,
          "description": "Filter by template extension points. A comma-delimited list of template extension points.\n",
          "schema": {
            "type": "string"
          },
          "example": "dx/excshell/1,dx/asset-compute/worker/1"
        },
        "EventsParam": {
          "name": "events",
          "in": "query",
          "required": false,
          "allowEmptyValue": true,
          "description": "Filter by template events. It supports \"empty\" (?events=) and \"any\" (?events=*) filters for now.\nThe \"empty\" filter (?events=) returns templates that do not have the \"event\" property set.\nThe \"any\" (?events=*) filter returns templates that do have the \"event\" property set.\n",
          "schema": {
            "type": "string"
          },
          "example": "*"
        },
        "RuntimeParam": {
          "name": "runtime",
          "in": "query",
          "required": false,
          "allowEmptyValue": true,
          "description": "Is Runtime required or not.\n",
          "schema": {
            "type": "string",
            "enum": [
              "true",
              "false",
              "*"
            ]
          },
          "example": "true"
        },
        "StatusesParam": {
          "name": "statuses",
          "in": "query",
          "required": false,
          "allowReserved": true,
          "description": "Filter by template statuses.\n",
          "schema": {
            "type": "string"
          },
          "example": "Approved"
        },
        "AdobeRecommendedParam": {
          "name": "adobeRecommended",
          "in": "query",
          "required": false,
          "description": "Indicates templates featured by Adobe.\n",
          "schema": {
            "type": "boolean"
          }
        },
        "SizeParam": {
          "name": "size",
          "in": "query",
          "required": false,
          "description": "A number of items to return.",
          "schema": {
            "type": "integer",
            "enum": [
              10,
              25,
              50
            ],
            "default": 10,
            "example": 10
          }
        },
        "CursorParam": {
          "name": "cursor",
          "in": "query",
          "required": false,
          "description": "We'll use a forward-only cursor-based pagination (also known as an infinite scrolling).\nA value is a BASE64 encoded encrypted string.\n",
          "schema": {
            "type": "string",
            "example": "MTIzNDU2Nzg5MA=="
          }
        },
        "OrderByParam": {
          "name": "orderBy",
          "in": "query",
          "required": false,
          "allowReserved": true,
          "description": "A query parameter used for sorting.\nThe value of the orderBy parameter contains a comma-separated list of expressions used to sort the items.\nThe expression MAY include the suffix \"asc\" for ascending or \"desc\" for descending, separated from the property name by a space.\nIf \"asc\" or \"desc\" is not specified, the service MUST order by the specified property in ascending order.\nSub-sorts can be specified by a comma-separated list of property names with an OPTIONAL direction qualifier.\n",
          "schema": {
            "type": "string",
            "example": "names desc,adobeRecommended"
          }
        }
      },
      "schemas": {
        "400": {
          "type": "object",
          "required": [
            "errors"
          ],
          "additionalProperties": false,
          "properties": {
            "errors": {
              "type": "array",
              "description": "A list of error objects.",
              "minItems": 1,
              "items": {
                "$ref": "#/components/schemas/Error"
              }
            }
          }
        },
        "Template": {
          "type": "object",
          "required": [
            "id",
            "name",
            "status",
            "links",
            "_links"
          ],
          "additionalProperties": false,
          "properties": {
            "id": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the template in the UUID format",
              "example": "991f1cf7-8ecc-403c-9f29-1ab8a3beacbf"
            },
            "author": {
              "type": "string",
              "description": "The name of the template's author on npmjs.com",
              "example": "Adobe Inc."
            },
            "name": {
              "type": "string",
              "description": "The name of the template on npmjs.com",
              "example": "@adobe/app-builder-template"
            },
            "createdBy": {
              "type": "string",
              "description": "The name of the user who created the template",
              "example": "Lazarus"
            },
            "description": {
              "type": "string",
              "description": "A description of the template",
              "example": "AppBuilder template"
            },
            "adobeRecommended": {
              "type": "boolean",
              "description": "Whether the template is recommended by Adobe",
              "example": true
            },
            "latestVersion": {
              "type": "string",
              "description": "The version of the template in the semver format",
              "example": "1.0.10"
            },
            "publishDate": {
              "type": "string",
              "description": "The date the template was published in the ISO 8601 format",
              "example": "2022-04-20T19:54:41.495Z"
            },
            "extensions": {
              "type": "array",
              "description": "Extension points that a template implements",
              "minItems": 1,
              "items": {
                "type": "object",
                "required": [
                  "extensionPointId"
                ],
                "additionalProperties": true,
                "properties": {
                  "extensionPointId": {
                    "type": "string",
                    "description": "Extension Point Id",
                    "example": "dx/excshell/1"
                  }
                }
              }
            },
            "categories": {
              "type": "array",
              "description": "A list of categories the template belongs to",
              "minItems": 1,
              "items": {
                "type": "string"
              },
              "example": [
                "graphql-mesh"
              ]
            },
            "apis": {
              "type": "array",
              "description": "A list of Adobe APIs required by the template",
              "minItems": 1,
              "items": {
                "type": "object",
                "required": [
                  "code"
                ],
                "additionalProperties": true,
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The sdk code of the service",
                    "example": "AdobeAnalyticsSDK"
                  }
                }
              }
            },
            "credentials": {
              "type": "array",
              "description": "A list of credentials required by the template",
              "minItems": 1,
              "items": {
                "type": "object",
                "required": [
                  "type",
                  "flowType"
                ],
                "additionalProperties": true,
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of the credential",
                    "example": "OAUTH_SERVER_TO_SERVER"
                  },
                  "flowType": {
                    "type": "string",
                    "description": "The flow type of the credential",
                    "example": "ENTP"
                  }
                }
              }
            },
            "runtime": {
              "type": "boolean",
              "description": "Whether to add Runtime to App Builder application or not.",
              "default": false
            },
            "event": {
              "type": "object",
              "description": "event configuration for the template"
            },
            "keywords": {
              "type": "array",
              "description": "A list of keywords specified in the packages.json file",
              "items": {
                "type": "string"
              },
              "example": [
                "aio-app-builder-template",
                "aio"
              ]
            },
            "status": {
              "type": "string",
              "description": "A status of a package in Template Registry.\n\"Error\" indicates that an application error occurred.\n",
              "enum": [
                "InVerification",
                "Approved",
                "Rejected",
                "Error"
              ],
              "example": "Approved"
            },
            "links": {
              "type": "object",
              "description": "A list of locations where the package's code can be found",
              "additionalProperties": false,
              "properties": {
                "npm": {
                  "type": "string",
                  "format": "uri",
                  "pattern": "^https://www\\.npmjs\\.com/",
                  "description": "A link to the package on npmjs.com",
                  "example": "https://www.npmjs.com/package/@adobe/app-builder-template"
                },
                "github": {
                  "$ref": "#/components/schemas/GithubUrl"
                },
                "consoleProject": {
                  "$ref": "#/components/schemas/DeveloperConsoleUrl"
                }
              }
            },
            "_links": {
              "$ref": "#/components/schemas/Links"
            }
          }
        },
        "GithubUrl": {
          "type": "string",
          "format": "uri",
          "nullable": false,
          "pattern": "^https://github\\.com/",
          "description": "A link to the Github repository containing the package's source code",
          "example": "https://github.com/adobe/app-builder-template"
        },
        "DeveloperConsoleUrl": {
          "type": "string",
          "format": "uri",
          "nullable": false,
          "pattern": "^https://developer-stage\\.adobe\\.com/console/projects",
          "description": "A link to the console project",
          "example": "https://developer-stage.adobe.com/console/projects/<project-id>"
        },
        "Links": {
          "type": "object",
          "description": "A key-value object representing related resources.\nA key name represents a related resource and the value of the key specifies an object containing the resource's URL in the \"href\" key.\n",
          "additionalProperties": false,
          "properties": {
            "self": {
              "$ref": "#/components/schemas/Link"
            },
            "next": {
              "$ref": "#/components/schemas/Link"
            },
            "review": {
              "$ref": "#/components/schemas/Link"
            }
          }
        },
        "Link": {
          "description": "An object describing a related resource.",
          "type": "object",
          "required": [
            "href"
          ],
          "additionalProperties": false,
          "properties": {
            "href": {
              "type": "string",
              "format": "uri",
              "description": "An URL to a resource.",
              "example": "https://github.com/adobe/aio-template-submission/issues/<number>"
            },
            "description": {
              "type": "string",
              "description": "(Optional) A brief description of a resource.",
              "example": "A link to \"Template Review Request\" Github Issue"
            }
          }
        },
        "Error": {
          "type": "object",
          "required": [
            "code",
            "message"
          ],
          "additionalProperties": false,
          "properties": {
            "code": {
              "type": "string",
              "description": "A string code representing this error.",
              "example": "missing_required_parameter"
            },
            "message": {
              "type": "string",
              "description": "A description of this error.",
              "example": "The \"XXX\" parameter is not set"
            }
          }
        }
      },
      "responses": {
        "BadRequest": {
          "description": "A request doesn't meet requirements, contains invalid data, or is missing required parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/400"
              },
              "example": {
                "errors": [
                  {
                    "code": "missing_required_parameter",
                    "message": "The \"XXX\" parameter is not set"
                  }
                ]
              }
            }
          }
        },
        "Unauthorized": {
          "description": "A request has not been completed because it lacks valid authentication credentials for the requested resource."
        },
        "Forbidden": {
          "description": "Not enough permissions to access this resource."
        },
        "Conflict": {
          "description": "A resource already exists."
        },
        "HttpMethodNotAllowed": {
          "description": "A target resource doesn't support this method."
        },
        "NotFound": {
          "description": "A requested resource was not found or doesn't exist."
        },
        "InternalServerError": {
          "description": "An error occurred during processing a request."
        },
        "ServiceUnavailable": {
          "description": "A service is temporarily unable to handle a request. Try again later."
        },
        "GatewayTimeout": {
          "description": "The underlying service did not respond on time. Try again later."
        }
      }
    }
  }