 # See https://github.com/adobe/aio-lib-templates for the value
 TEMPLATE_REGISTRY_API_URL=
 IMS_CLIENT_ID=
 IMS_CLIENT_SECRET=
 IMS_AUTH_CODE=
 IMS_SCOPES=
 # usually https://ims-na1.adobelogin.com, but can be different for other regions
 IMS_URL=
 # if set, we don't need to get an access token using the IMS_* values, and can just use this token directly
 ACCESS_TOKEN=
